.App {
  text-align: center;
}

.Carrito {
  align-items: center;
  border: 1px solid black;
}

.Carrito p {
  font-size: 20pt;
  font-weight: bold;
}

.Item {
  border: 1px solid black;
  width: 300px;
}

.carrito-contenedor {
  display: flex;
  justify-content: space-around;
}

.Stock{
  width: 50% vp;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.Stock .producto{
  margin: 2rem;
}
.Stock img {
  width: 200px;
}

footer {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2rem;
  font-size: 12pt;
}
