body {
  min-height: 100vh;
  background-color: #000000;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.fondo {
  background-color: #000000;
}

.bandeja {
  width: 100%;
  margin: 2rem 0;
  color: whitesmoke;
  text-align: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bandeja .contenedor-de-texto p {
  font-size: 15pt;
}

.bandeja .contenedor-de-texto .iconos {
  padding: 0 1rem;
  font-size: 20pt;
}

.bandeja .contenedor-de-texto a {
  font-size: 20pt;
  text-decoration: none;
  color: whitesmoke;
}

.bandeja .contenedor-de-texto img {
  width: 50%;
}

.tipos-de-producto a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15pt;
  margin: 0.5rem;
  padding: 0;
}

.tipos-de-producto a:hover {
  color: whitesmoke;
  font-weight: bold;
  font-size: 17pt;
  background: rgb(106, 0, 0);
}

.Carrito {
  align-items: center;
}

.Carrito p {
  font-size: 20pt;
  font-weight: bold;
}

.Item {
  border: 1px solid whitesmoke;
  width: 300px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  transition: transform .2s;
}

.Item:hover {
  background-color: rgb(106, 0, 0);
  transform: scale(1.05);
}

.Item button {
  padding: 0.5rem;
  width: 50%;
  border-radius: 1rem;
}

.Item button:hover {
  background-color: rgb(218, 61, 61);
}

.carrito-contenedor {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
}

.carrito-header {
  text-align: center;
  margin: 1rem 0 0;
}

.carrito-header form input {
  margin: 1rem;
  height: 45px;
  width: 300px;
}

.carrito-header button {
  padding: 0.5rem;
  width: 150px;
  border-radius: 1rem;
  transition: transform .2s;
}

.carrito-header button:hover {
  background-color: rgb(106, 0, 0);
  color: whitesmoke;
  font-weight: bold;
  transform: scale(1.15);
}

.carrito-footer {
  text-align: center;
  color: whitesmoke;
}

.carrito-footer button {
  padding: 0.5rem;
  width: 150px;
  border-radius: 1rem;
}

.carrito-footer button:hover {
  background-color: rgb(106, 0, 0);
}

.Stock {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  color: whitesmoke;
}

.Stock .producto {
  margin: 0.5rem;
}

.Stock .producto .agregar {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.Stock .producto .agregar:hover {
  background-color: greenyellow;
}

.Stock .producto button {
  margin: 0.25rem 1rem;
}

.Stock .producto .quitar {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.Stock .producto .quitar:hover {
  background-color: rgb(218, 61, 61);
}

.Stock p {
  font-size: 15pt;
  font-weight: bold;
  margin: 0.5rem 1rem;
}

.Stock .container {
  border: 1px solid whitesmoke;
  width: 300px;
  height: 500px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  transition: transform .2s;
  background: rgb(206, 206, 206);
  background: radial-gradient(circle, rgba(206, 206, 206, 1) 0%, rgba(0, 0, 0, 1) 85%);
}

.Stock .container:hover {
  border-bottom: 1px solid;
  background: rgb(106, 0, 0);
  transform: scale(1.05);
}

.nombre-producto {
  width: 250px;
  height: 70px;
  margin: 0.25rem;
}

.nombre-producto p {
  padding: 0;
  margin: 0.25rem;
}

.cuerpo-producto {
  height: 330px;
}

.cuerpo-producto img {
  height: 215px;
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12pt;

}

footer a {
  text-decoration: none;
  outline: none;
}

footer a:focus {
  border-bottom: 1px solid;
  background: whitesmoke;
}

footer a:hover {
  border-bottom: 1px solid;
  background: whitesmoke;
}

footer a:active {
  color: whitesmoke;
}

.me-auto .barrita {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 15pt;
}

.verCarrito {
  border: 1px solid whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.verCarrito:hover {
  background: rgb(106, 0, 0);
  color: whitesmoke;
}

.swal-title{
  color: black;
}

.swal-text{
  color: black;
  text-align: center;
}

.swal-footer{
  text-align: center;
}

.swal-button{
  background: rgb(106, 0, 0);
}